.blockchainBlock {
	background-color: var(--higher-background);
	width: 20%;
	height: 50vh;
	border-radius: 2em;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
	margin-right: 1em;
	cursor: pointer;
}

.blockchainBlock p {
	text-align: center;
	width: 100%;
	font-size: 0.8rem;
	margin-top: 1em;
	word-wrap: break-word;
	overflow: hidden;
}

.blockchainBlock p span {
	font-size: 1.2rem;
	font-weight: bold;
}

.blockchainBlock p span.hash {
	font-size: 0.6rem;
	font-weight: normal;
}
