.consoleBox {
	position: absolute;
	width: 50vw;
	top: 3em;
	left: 50%;
	transform: translateX(-50%);
}

.consoleBox p {
	font-size: 0.5em;
	text-align: center;
	margin: 1em;
}
.console {
	width: 100%;
	padding: 1em;
	background-color: #262626;
	border: none;
	box-shadow: none;
	color: white;
	-ms-user-select: none;
}

.docsButton {
	color: rgb(167, 167, 167);
	display: inline-block;
	margin-left: 0.5em;
	cursor: pointer;
}

.docsButton:hover {
	filter: brightness(60%);
}

.consoleLine {
	display: flex;
	align-items: center;
}
