.consoleBox {
	position: absolute;
	width: 50vw;
	top: 3em;
	left: 50%;
	transform: translateX(-50%);
}

.consoleBox p {
	font-size: 0.5em;
	text-align: center;
	margin: 1em;
}
.console {
	width: 100%;
	padding: 1em;
	background-color: var(--higher-background);
	border: none;
	box-shadow: none;
	color: var(--text);
	user-select: none;
}

.docsButton {
	color: var(--subtle-text);
	display: inline-block;
	margin-left: 0.5em;
	cursor: pointer;
	user-select: none;
}

.consoleLine {
	display: flex;
	align-items: center;
}
