.background-layer {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--background-overlay);
}

.menuCard * {
	margin-bottom: .2em;
}

.menuCard {
	box-sizing: content-box;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	left: 0;
	top: 0;
	height: 100vh;
	width: 6em;
	background-color: var(--higher-background);
	color: var(--text);
	text-align: center;
	overflow: scroll;
	overflow-x: hidden;
}

.menuCard * {
	user-select: none;
}

.openMenuButton {
	position:absolute;
	top: 1em;
	color: var(--text);
	cursor: pointer;
	background-color: transparent;
	border: none;
	pointer-events: all;
	padding-bottom: 5em;
}

.openMenuButton:focus {
	outline: none;
}

.closed {
	background-color: transparent;
	pointer-events: none;
}

.link {
	color: var(--menu-item-color);
	text-decoration: none;
	margin-top: 2.3em;
	filter: brightness(100%);
}

.unavailable {
	filter: brightness(30%);
	cursor: default;
	pointer-events: none;
}

.unavailable:hover {
	filter: brightness(30%);
}

.homeButton {
	margin-top: 1em;
}

.login {
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
}

.current {
	color: var(--selected-menu);
}

.current:hover {
	filter: brightness(100%);
	user-select: none;
	cursor: default;
}


.menuItem {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin-bottom: 0;
	width: 100%;
}

.item {
	transform: scale(1.5);
	margin: 0;
}


.menuText {
	margin: 0;
	padding: 0;
	margin: .2em;
	font-size: .8em;
}


.menuLinkContainer {

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 90vh;
	margin: 2em;
}