.background-layer {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--background-overlay);
}
.menuCard {
	box-sizing: content-box;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	left: 0;
	top: 0;
	height: 100vh;
	width: 6vw;
	background-color: var(--higher-background);
	color: var(--text);
	text-align: center;
	overflow: scroll;
}

.menuCard * {
	user-select: none;
}

.openMenuButton {
	color: var(--text);
	cursor: pointer;
	margin: -25px;
	background-color: transparent;
	border: none;
	pointer-events: all;
}

.openMenuButton:focus {
	outline: none;
}

.menuCard * {
	margin-bottom: 1em;
}

.closed {
	background-color: transparent;
	pointer-events: none;
}

.link {
	color: var(--menu-item-color);
	text-decoration: none;
	margin-top: 2.3em;
	filter: brightness(100%);
}

.unavailable {
	filter: brightness(30%);
	cursor: default;
	pointer-events: none;
}

.unavailable:hover {
	filter: brightness(30%);
}

.item {
	transform: scale(2);
}

.homeButton {
	margin-top: 1em;
}

.login {
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
}

.current {
	color: var(--selected-menu);
}

.current:hover {
	filter: brightness(100%);
	user-select: none;
	cursor: default;
}
