.docsPage-container {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: grid;
	grid-template-columns: 25vw 75vw;
	grid-template-rows: 7.8% 92.2%;

	grid-template-areas:
		'titleBar mainContent'
		'sideBar mainContent';
}

.docsPage-sideBar {
	width: 100%;
	height: 100%;
	background-color: #121212;
	grid-area: sideBar;
	display: flex;
	justify-items: center;
	color: white;
	font-weight: 500;
	font-size: 1.2em;
}

.docsPage-sidebar-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: scroll;
	height: 90%;
	width: 100%;
}

.docsPage-sidebar-container::-webkit-scrollbar {
	display: none;
}

.docsPage-sideBarItem {
	width: 93%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 0.4em;
	margin-top: 1em;
	padding: 0.6em 0;
	cursor: pointer;
}

.docsPage-sidebar-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: scroll;
	background-color: rgba(255, 255, 255, 0.05);
	width: 85%;
	padding-bottom: 1em;
	border-radius: 1em;
}

.docsPage-sidebar-section::-webkit-scrollbar {
	display: none;
}

.docsPage-sideBarTitle {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0;
	padding: 0.6em 0;
}

.docsPage-sideBarItem:hover {
	filter: brightness(60%);
}

.docsPage-titleBar {
	width: 100%;
	height: 100%;
	background-color: #121212;
	grid-area: titleBar;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: 500;
	font-size: 1.4em;
}

.docsPage-mainContent {
	width: 100%;
	height: 100%;
	background-color: #1f1f1f;
	grid-area: mainContent;
	display: flex;
	justify-content: center;
	padding: 1em;
	color: white;
}

.docsPage-mainContent-container {
	width: 87%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.docsPage-mainContent-container hr {
	margin-top: 0.5em;
	width: 100%;
}

.docsPage-mainContent-h1 {
	margin-top: 0.2em;
}

.docsPage-mainContent-description {
	margin-top: 1em;
	font-size: 1.2em;
	font-style: italic;
}

.docsPage-mainContent-example {
	background-color: #141414;
	padding: 0.5em 3em;
	margin-top: 1em;
	border-radius: 1em;
	margin-left: 1em;
}

.arguments {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	color: white;
	margin-top: 2em;
}

.arguments td,
.arguments th {
	border: 1px solid rgb(0, 0, 0);
	padding: 8px;
}

.arguments td {
	font-size: 0.8em;
	text-align: center;
}

.arguments tr:nth-child(even) {
	background-color: #363636;
}

.arguments tr:nth-child(odd) {
	background-color: #494949;
}

.arguments th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #005ce6;
	color: white;
}

.docsPage-mainContent-exampleStyle-command {
	color: red;
}

.docsPage-sideBarItem-selected {
	background-color: #005ce6;
	cursor: default;
}

.docsPage-sideBarItem-selected:hover {
	filter: brightness(100%);
}

.docsPage-mainContent-example-title {
	font-weight: bold;
}

.docsPage-mainContent-example-container {
	margin: 1em;
}
