.card-container {
	position: absolute;
	right: 0;
	top: 0;
	height: 100vh;
	width: 5vw;
}

.card {
	box-sizing: border-box;
	position: absolute;
	right: 0;
	top: 0;
	height: 100vh;
	width: 25vw;
	background-color: #262626;
	color: white;
	padding: 2em;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	cursor: context-menu;
}

.openCardButton {
	position: absolute;
	top: 1em;
	right: 1em;
	background-color: transparent;
	border: none;
	color: white;
	cursor: pointer;
}

.card::-webkit-scrollbar {
	display: none;
}

.credit {
	margin: 2em 0;
	padding-left: 0;
	font-size: 0.5em;
	color: inherit;
	text-decoration: none;
}

.title {
	text-align: center;
	font-size: 2em;
}

.description,
.meta,
.credit {
	color: rgba(255, 255, 255, 0.829);
}

@media (max-width: 1000px) {
	.card {
		width: 100vw;
		height: 100%;
	}
}
