.latest-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.548);
	color: white;
	margin: 0;
}

.latest-fullItemContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	bottom: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 65%;
	height: 75%;
	color: rgb(170, 170, 170);
}

.latest-itemInfoContainer {
	width: 100%;
	height: 90%;
	font-size: 1rem;
	background-color: #303030;
	box-sizing: border-box;
	padding: 0.6em 2em;
	text-align: center;
	overflow-y: scroll;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
}

.latest-itemInfoContainer::-webkit-scrollbar {
	display: none;
}

.latest-TitleContainer {
	box-sizing: border-box;
	font-size: 1.2rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: #262626;
	padding: 0.6em 2em;
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
}

.latest-close {
	transform: scale(1.3) translateY(5%);
	cursor: pointer;
}
