body {
	background-color: #121212;
}

.container {
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.grid-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	height: 90vh;
	/* overflow: hidden; */
}

.grid-container-inner {
	height: 95%;
	justify-content: center;
	align-items: center;
	align-content: center;
	/* overflow: hidden; */
}

.row {
	display: flex;
}

.node {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	border: solid rgb(158, 158, 158) 0.5px;
}

nav {
	display: flex;
	height: 10vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	background-color: #262626;
}

nav * {
	height: 30px;
	margin: 0 1.5em;
	color: white;
}

button,
select {
	background-color: #035efc;
}

.button,
.button-disabled,
select {
	box-sizing: border-box;
	width: 10%;
	height: 50%;
	margin: 0, 0rem;
	border-radius: 10px;
	place-items: center;
	color: rgb(206, 206, 206);
}

select {
	background-color: #035efc;
	padding: 0;
	font-weight: bold;
	border: none;
	box-shadow: none;
	text-align-last: center;
	outline: none;
}

.button,
.button-disabled {
	border: none;
	box-shadow: none;
	display: flex;
	box-sizing: border-box;
	align-content: center;
	justify-content: center;
	padding: 0.5% 0;
	background-color: #035efc;
	font-weight: bold;
}

.button * {
	margin: 0;
}

.button:hover,
.button:focus,
select:hover,
select:focus {
	filter: brightness(130%);
	cursor: pointer;
}

option {
	border: none;
	box-shadow: none;
	outline: none;
}

select:disabled,
button:disabled,
.sliderBox input:disabled,
.disabled {
	color: white;
	filter: brightness(60%);
	cursor: default;
}

.sliderBox {
	margin-top: -16px;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
}

.sliderBox p {
	text-align: center;
	margin-bottom: 0.3em;
}

.consoleButton {
	transform: scale(1.5);
	padding: 0;
	margin: 0;
	margin-bottom: -0.6em;
	cursor: pointer;
	user-select: none;
}

@media (max-width: 1000px) {
	nav {
		box-sizing: content-box;
		flex-direction: column;
		height: auto;
		padding: 20px;
	}

	.button,
	.button-disabled,
	select {
		box-sizing: border-box;
		width: 90%;
		height: 50px;
		padding: 12.5px 0;
		margin-bottom: 10px;
		text-align: center;
		text-align-last: center;
	}
	.sliderBox {
		display: flex;
		flex-direction: column;
		font-size: 1rem;
		margin: 10px;
		order: 500;
		width: 90%;
	}

	.sliderBox p {
		text-align: center;
		margin-bottom: 0.3em;
	}

	.timeTaken {
		order: 5000;
		margin-top: 10px;
	}

	.sort {
		margin-top: 0;
		order: -1;
	}

	select {
		order: -1;
	}
}
