html.darkTheme {
	--background: #121212;
	--higher-background: #262626;
	--higher-higher-background: #303030;
	--accent: #035efc;
	--selected-menu: #03a1fc;
	--menu-item-color: rgba(255, 255, 255, 0.397);
	--text: white;
	--subtle-text: rgb(170, 170, 170);
	--transparent-text: rgba(255, 255, 255, 0.829);
	--background-overlay: rgba(0, 0, 0, 0.4);
	--scrollbar: #ffffff42;
}

html.lightTheme {
	--background: #ffffff;
	--higher-background: #7b868d;
	--higher-higher-background: #c2c2c2;
	--accent: #035efc;
	--selected-menu: #036ffc;
	--menu-item-color: rgba(68, 68, 68, 0.397);
	--text: black;
	--subtle-text: rgb(63, 63, 63);
	--transparent-text: rgba(31, 31, 31, 0.829);
	--background-overlay: rgba(0, 0, 0, 0.4);
	--scrollbar: #ffffff42;
}

/* width */
*::-webkit-scrollbar {
	width: 0.3rem;
	height: 0.3rem;
	background-color: transparent;
}

/* Track */
*::-webkit-scrollbar-track {
	background-color: transparent;
	height: 2px;
	border-radius: 50px;
}

*::-webkit-scrollbar-corner {
	background-color: transparent;
	height: 2px;
	border-radius: 50px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 50px;
}

/* Handle on hover */
*:hover::-webkit-scrollbar-thumb {
	background: var(--scrollbar);
}
*::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbar);
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	filter: brightness(80%);
}

.clickable.dark:hover {
	filter: brightness(60%);
}

.scrollable-all::-webkit-scrollbar-thumb {
	background: var(--scrollbar);
}

body {
	height: 100%;
	overflow-x: hidden;
}

.changeLogMenuItems {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	margin-bottom: 0.7em;
	font-weight: bold;
}

.changeLog {
	margin: 0 auto;
	width: 70vw;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: none;
}

.changeLog::-webkit-scrollbar {
	display: none;
}

.openAllChangesButton {
	width: 20%;
	text-align: center;
	background-color: var(--higher-background);
	padding: 0.5em;
	margin-top: 1em;
	color: var(--subtle-text);
	cursor: pointer;
	user-select: none;
}
