body {
	height: 100%;
	overflow-x: hidden;
}

.changeLog {
	margin: 0 auto;
	width: 60vw;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: none;
}

.changeLog::-webkit-scrollbar {
	display: none;
}

.openAllChangesButton {
	width: 20%;
	margin: 0 auto;
	text-align: center;
	background-color: #262626;
	padding: 0.5em;
	margin-top: 1em;
	color: rgba(255, 255, 255, 0.829);
	cursor: pointer;
	user-select: none;
}

.openAllChangesButton:hover {
	color: white;
}
